body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, header, menu, section, p, input, td, th, ins {
    padding: 0;
    margin: 0;
    list-style: none;
}

body, textarea, select, input, button {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

section, header, main, article, aside, ins {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

em, i {
    font-style: normal;
    text-align: left;
    font-size: inherit;
}

html, body, img, iframe {
    border: 0;
}

textarea {
    resize: none;
    overflow: auto;
}

input:focus, textarea:focus, span:focus, a:focus, button:focus {
    outline: none;
}

li, s {
    list-style: none;
}

img, .txt {
    border: 0;
}

mark {
    background: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #333;
}

a, a *, .f-hand, .f-hand * {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.header {
    height: 70px;
    width: 100%;
    background: url("../images-index/topbar.png") repeat-x left -80px;
}

.wrap {
    width: 1100px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 176px;
}

.logo a {
    float: left;
    width: 157px;
    height: 33px;
    padding: 22px 20px 0 0;
    background: url("../images-index/topbar.png") no-repeat 0 15px;
    text-indent: -9999px;
}

.mian-nav {
    float: left;
    height: 70px;
    margin-right: 120px;
}

.mian-nav li {
    float: left;
    font-size: 14px;
    position: relative;

}

.mian-nav li:hover {
    background: url("../images-index/topbar.png") no-repeat left -155px;
}

.mian-nav li:hover > a {
    background: none;
}

.mian-nav a {
    display: block;
    color: #cccccc;
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
    background: url("../images-index/topbar.png") no-repeat right -300px;
}

.mian-nav .last {
    background: none;
}

.last-li {
    display: block;
    position: relative;
}

.hot {
    width: 26px;
    height: 19px;
    background: url("../images-index/topbar.png") no-repeat -190px 0;
    position: absolute;
    left: 90px;
    top: 20px;
}

.search {
    width: 210px;
    height: 30px;
    background: url("../images-index/topbar.png") no-repeat 0 -550px;
    position: absolute;
    left: 940px;
    top: 20px;
}

.search input {
    height: 30px;
    width: 160px;
    margin-left: 30px;
    border: none;
    background: none;
}

.login {
    width: 85px;
    height: 70px;
    position: absolute;
    left: 1150px;
    top: 5px;
    cursor: pointer;
}

.login i {
    width: 85px;
    height: 70px;
    display: block;
    color: #787878;
    line-height: 70px;
    text-align: center;
    position: relative;
}

.login em {
    width: 12px;
    height: 7px;
    background: url("../images-index/topbar.png") no-repeat right -380px;
    position: absolute;
    left: 80px;
    top: 30px;
}

.next-nav {
    height: 35px;
    width: 100%;
    background: url("../images-index/topbar.png") repeat-x left -230px;
}

.next-nav ul {
    margin-left: 310px;
}

.next-nav li {
    float: left;
    height: 22px;
    margin: 0 20px;
}

.next-nav a {
    height: 22px;
    display: block;
    padding-left: 12px;
    margin-top: 7px;
}

.next-nav span {
    height: 22px;
    display: block;
    color: #ffffff;
    line-height: 22px;
    padding-right: 12px;
}

.next-nav a:hover {
    background: url("../images-index/topbar.png") no-repeat left -275px;
}

.next-nav a:hover > span {
    background: url("../images-index/topbar.png") no-repeat right -275px;
}

.footer {
    height: 120px;
    border-top: 1px solid #D5D5D5;
    background: #F9F9F9;
}

.footer-next {
    width: 981px;
    height: 120px;
    margin: 0 auto;
}

.footer-next img {
    float: left;
    margin-top: 30px;
}

.search ul {

    float: left;
    width: 200px;
    height: 200px;
    padding: 20px;
    border-top: 0;
    background-color: #333333;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 5px 5px 5px 5px;
}

.search li {
    font: 18px/30px "simsun";
    cursor: pointer;
}
.search a{
    color: #ffffff;
}
.search li:hover {
     background-color: blue;
 }
.search li:hover >a{
    background-color: blue;
}





